[submodule "external/libjpeg-turbo"]
	path = external/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "external/libwebp"]
	path = external/libwebp
	url = https://github.com/webmproject/libwebp/
