[submodule "external/libjpeg-turbo"]
	path = external/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "external/libwebp"]
	path = external/libwebp
	url = https://github.com/webmproject/libwebp/
[submodule "external/libpng"]
	path = external/libpng
	url = https://git.code.sf.net/p/libpng/code
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
[submodule "external/heif"]
	path = external/heif
	url = https://github.com/nokiatech/heif
[submodule "external/x265"]
	path = external/x265
	url = https://bitbucket.org/multicoreware/x265_git.git
